@import 'src/assets/scss/utils/vars';
@import 'src/assets/scss/utils/mixins';
@import 'src/assets/scss/utils/fonts';

.button {
  padding: 13px 43px 14px 42px;

  border-radius: 25px;
  outline: none;
  cursor: pointer;
  color: $blue;
  border: 2px solid $blue;
  background-color: transparent;

  font-family: $mainFonts;
  font-size: $mainFontSize;
  font-weight: 700;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: $blue;
    color: $white;
    transition: color .4s ease-in,
    background-color .4s ease-in,
    border-color .4s ease-in;
  }

  &:active {
    background-color: darken($blue, 10%);
    border-color: darken($blue, 10%);
  }

  &_transparent {
    padding-right: 46px;
  }
}
