$blue: #0F7BFF;
$darkBlue: #0063DD;
$baseGrey: #929292;
$white: #FFFFFF;
$bgColor: #F5FCFD;

$mainFonts: 'Quicksand';
$mainFontSize: 16px;


$desktopSize: 1600px;
$laptopSize: 1200px;
$tableSize: 960px;
$mobileSize: 480px;


$boxShadow: 0 4px 16px rgba(0, 66, 148, 0.08);
